<div class="row filaGeneral">
    <div class="col-12 colCabecera">
        <h1>Indicadores</h1>
    </div>
<!-- routerLink no me funciono, por eso esta con href -->
    <div class="col-12 colLista">
        <ul class="ulLista">
            <li class="liLista">
                <div class="row">
                    <div class="col-10 colListaTexto">
                        <p><a href="detalle-dolar">Dólar</a></p>
                        <span>Pesos</span>
                    </div>
                    <div class="col-2 colListaIcono">
                        <a href="grafico-dolar"><i class="fa-solid fa-circle-info iconoLista"></i></a>
                    </div>
                </div>
            </li>
            <li class="liLista">
                <div class="row">
                    <div class="col-10 colListaTexto">
                        <p><a href="detalle-euro">Euro</a></p>
                        <span>Pesos</span>
                    </div>
                    <div class="col-2 colListaIcono">
                         <a href="grafico-euro"><i class="fa-solid fa-circle-info iconoLista"></i></a>
                    </div>
                </div>
            </li>
            <li class="liLista">
                <div class="row">
                    <div class="col-10 colListaTexto">
                        <p><a href="detalle-ipc">IPC</a></p>
                        <span>Porcentaje</span>
                    </div>
                    <div class="col-2 colListaIcono">
                         <a href="grafico-ipc"><i class="fa-solid fa-circle-info iconoLista"></i></a>
                    </div>
                </div>
            </li>
            <li class="liLista">
                <div class="row">
                    <div class="col-10 colListaTexto">
                        <p><a href="detalle-uf">UF</a></p>
                        <span>Pesos</span>
                    </div>
                    <div class="col-2 colListaIcono">
                         <a href="grafico-uf"><i class="fa-solid fa-circle-info iconoLista"></i></a>
                    </div>
                </div>
            </li>
            <li class="liLista">
                <div class="row">
                    <div class="col-10 colListaTexto">
                        <p><a href="detalle-utm">UTM</a></p>
                        <span>Pesos</span>
                    </div>
                    <div class="col-2 colListaIcono">
                         <a href="grafico-utm"><i class="fa-solid fa-circle-info iconoLista"></i></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
